@use "../../main.scss";

.sortLabels-cont {
  display: none;
  background-color: main.$c_Light-Grey;
}

.sortLabels {
  display: none;
}

@include main.bp_medium {
  .sortLabels-cont {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    @include main.m_pad_sizing_lr(2rem);
  }
  .sortLabels {
    @include main.m_flex-row;
    // border: .125rem solid red;
    width: 25%;
    align-items: center;

    &__name {
      color: main.$c_Slate;
      @include main.m_fontsize_lineh_weight(0.75rem, 1.125rem, 600);
      margin-right: 0.25rem;
    }

    &__icon {
      width: 1rem;

      &--hidden {
        display: none;
      }
    }

    &:last-child {
      justify-content: flex-end;
      flex: 0 0 4.1875rem;
    }
  }
}

@include main.bp_large {
  .sortLabels-cont {
    @include main.m_pad_sizing_lr(2.5rem);
  }
}
