@use "../../main.scss";

.sortLabels-cont {
  display: none;
  background-color: main.$c_Light-Grey;
}

.sortLabels {
  display: none;
}

@include main.bp_medium {
  .sortLabels-cont {
    height: 40px;
    display: flex;
    justify-content: space-between;
    @include main.m_pad_sizing_lr(32px);
  }
  .sortLabels {
    @include main.m_flex-row;
    // border: 2px solid red;
    width: 18%;
    align-items: center;

    &__name {
      color: main.$c_Slate;
      @include main.m_fontsize_lineh_weight(12px, 18px, 600);
      margin-right: 4px;
    }

    &__icon {
      width: 16px;

      &--hidden {
        display: none;
      }
    }

    &:last-child {
      justify-content: flex-end;
      flex: 0 0 67px;
    }
  }
}
