@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

@include small {
  .error {
    margin: 0rem;
    color: $Red;
    &__container {
      display: flex;
      margin-top: 0.25rem;
    }
    &__icon {
      margin-right: 0.25rem;
      width: 1rem;
      height: 1rem;
    }
  }
}

@include medium {
  .error {
    margin: 0rem;
    color: $Red;
    &__container {
      display: flex;
      margin-top: 0.25rem;
    }
    &__icon {
      margin-right: 0.25rem;
      width: 1rem;
      height: 1rem;
    }
  }
}

@include large {
  .error {
    margin: 0rem;
    color: $Red;
    &__container {
      display: flex;
      margin-top: 0.25rem;
    }
    &__icon {
      margin-right: 0.25rem;
      width: 1rem;
      height: 1rem;
    }
  }
}
