$mobile-max-width: 767px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

@mixin small {
  @media only screen and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: $tablet-min-width) {
    @content;
  }
}
@mixin large {
  @media only screen and (min-width: $desktop-min-width) {
    @content;
  }
}
