// primary colors
$Instock-Black: #13182c;
$Instock-Indigo: #2e66e5;
$white: #ffffff;

//secondary colors
$Slate: #5c667e;
$Cloud: #bdc5d5;

//bg colors

$Graphite: #232940 ;
$Light-Grey: #f7f8f9;

//support-colors
$Green: #158463;
$Red: #c94515;
