@use "./colors" as *;

// @mixin width_sizing($width_prop, $maxwidth_prop, $w_val, $maxw_val){
@mixin width_sizing($width_prop, $maxwidth_prop, $val) {
  #{$width_prop}: $val;
  #{$maxwidth_prop}: $val;
}

@mixin sizing_leftright($prop_l, $prop_r, $val) {
  #{$prop_l}: $val;
  #{$prop_r}: $val;
}

@mixin sizing_topbot($prop_top, $prop_bot, $val) {
  #{$prop_top}: $val;
  #{$prop_bot}: $val;
}

@mixin pad_sizing_lr($val) {
  padding-left: $val;
  padding-right: $val;
}

@mixin mar_sizing_lr($val) {
  margin-left: $val;
  margin-right: $val;
}

@mixin padding_l($val) {
  padding-left: $val;
}

@mixin fontsize_lineh_weight($font_size, $line-height, $weight) {
  font-size: $font_size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin wh-100 {
  width: 100%;
  height: 100%;
}

@mixin padmar-0 {
  padding: 0;
  margin: 0;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  @content;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  @content;
}

@mixin thin-border-bottom {
  border-bottom: 0.0625rem solid $Cloud;
}

@mixin thin-border-right {
  border-right: 0.0625rem solid $Cloud;
}

@mixin instock-label {
  padding: 0.25rem 0.5rem;
  background-color: rgba($Green, 7%);
  border-radius: 1.25rem;
  color: $Green;
  @include fontsize_lineh_weight(0.6875rem, 1rem, 600);
  //   text-align: center;
  display: inline-block;
}

@mixin oos-label {
  padding: 0.25rem 0.5rem;
  background-color: rgba($Red, 7%);
  border-radius: 1.25rem;
  color: $Red;
  @include fontsize_lineh_weight(0.6875rem, 1rem, 600);
  display: inline-block;
}

@mixin header-mobile-btn {
  width: 10.1875rem;
  height: 2.25rem;
  border-radius: 1.25rem;
  background-color: $Instock-Black;
}

@mixin header-tabDesk-btn {
  width: 6.6875rem;
  height: 2.375rem;
  border-radius: 1.25rem;
  background-color: $Instock-Black;
}
