@use "../../main.scss";


body {
    background-color: main.$c_Light-Grey;
}

.title-editadd{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: -55px;
    background-color: main.$c_white;
    gap: 5px;
    // background-color: red;
    height: 100px;
    @include main.m_sizing_leftright(margin-left, margin-right, 16px);
    align-items: center;

    &__table-text{
        @include main.m_fontsize_lineh_weight(28px, 36px, 600);
    }
    &__img-back{
        padding-top: 5px;
        transform: scale(1.0);
    }
    
}
