@use "../../main.scss";

.inventoriesList {
  background-color: main.$c_Light-Grey;
  @include main.m_pad_sizing_lr(16px);

  &__cardList-cont {
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  }
}

@include main.bp_medium {
  .inventoriesList {
    @include main.m_pad_sizing_lr(32px);
  }
}

@include main.bp_large {
  .inventoriesList {
    @include main.m_pad_sizing_lr(130px);
  }
}
