@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

@include small {
  .inventory {
    &__form {
      margin: 0rem 1rem;
      background-color: $white;
      box-shadow: 0 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
    }
  }

  .item {
    &__header {
      margin-top: 0rem;
      padding-top: 1rem;
    }
    &__container {
      margin-bottom: 1rem;
    }
    &__form {
      color: $Instock-Black;
      padding: 0rem 0.75rem;
      width: 100%;
      height: 2rem;
      border: solid 0.0625rem $Cloud;
      border-radius: 1.25rem;
      &--invalid {
        border: solid 0.0625rem $Red;
      }
    }

    &__radio {
      margin-right: 2.75rem;
      &-container {
        display: flex;
      }
      &-label {
        font-weight: 400;
        margin-left: 0.5rem;
      }
    }

    &__description {
      padding-top: 0.375rem;
      resize: none;
      height: 10vh;
    }

    &__details {
      padding: 0rem 1rem;
      border-bottom: 0.0625rem solid $Cloud;
    }

    &__availability {
      padding: 0rem 1rem;
    }

    &__buttons {
      display: flex;
      width: 100%;
      padding: 1rem;
      background-color: $Light-Grey;
      &-cancel {
        background-color: $white;
        color: $Slate;
        border: 0.0625rem solid $Cloud;
        margin-right: 1rem;
        &:hover {
          border-color: $Instock-Indigo;
          color: $Instock-Indigo;
          background-color: $white;
        }
      }
    }
  }
}

@include medium {
  .inventory {
    &__form {
      margin: 0rem 2rem;
      background-color: $white;
      box-shadow: 0 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
      display: flex;
      flex-wrap: wrap;
    }
  }

  .item {
    &__header {
      margin: 0 0 1.2rem 0;
    }

    &__container {
      margin-bottom: 1rem;
    }
    &__form {
      color: $Instock-Black;
      width: 100%;
      height: 2rem;
      border: solid 0.0625rem $Cloud;
      border-radius: 1.25rem;
      padding: 0rem 1rem;
      &--invalid {
        border: solid 0.0625rem $Red;
      }
    }

    &__radio {
      margin-right: 2.75rem;
      &-container {
        display: flex;
      }
      &-label {
        font-weight: 400;
        margin-left: 0.5rem;
      }
    }

    &__description {
      padding-top: 0.375rem;
      resize: none;
      height: 7.5rem;
    }

    &__details {
      width: 50%;
      margin: 1rem 0rem;
      padding: 0rem 2rem;
      border-right: 0.0625rem solid $Cloud;
    }

    &__availability {
      width: 50%;
      margin: 1rem 0rem;
      padding: 0rem 2rem;
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;
      background-color: $Light-Grey;
      width: 100%;
      padding: 1rem 2rem;
      margin-top: 0.5rem;
      &-cancel {
        background-color: $white;
        color: $Slate;
        border: 0.0625rem solid $Cloud;
        margin-right: 1rem;
        &:hover {
          border-color: $Instock-Indigo;
          color: $Instock-Indigo;
          background-color: $white;
        }
      }
    }
  }
}

@include large {
  .inventory {
    &__form {
      margin: 0rem 8.125rem;
      background-color: $white;
      box-shadow: 0 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
      display: flex;
      flex-wrap: wrap;
    }
  }

  .item {
    &__header {
      margin: 0 0 1.2rem 0;
    }

    &__container {
      margin-bottom: 1rem;
    }
    &__form {
      color: $Instock-Black;
      width: 100%;
      height: 2rem;
      border: solid 0.0625rem $Cloud;
      border-radius: 1.25rem;
      padding: 0rem 1rem;
      &--invalid {
        border: solid 0.0625rem $Red;
      }
    }

    &__radio {
      margin-right: 2.75rem;
      &-container {
        display: flex;
      }
      &-label {
        font-weight: 400;
        margin-left: 0.5rem;
      }
    }

    &__description {
      padding-top: 0.375rem;
      resize: none;
      height: 7.5rem;
    }

    &__details {
      width: 50%;
      margin: 1rem 0rem;
      padding: 0rem 2rem;
      border-right: 0.0625rem solid $Cloud;
    }

    &__availability {
      width: 50%;
      margin: 1rem 0rem;
      padding: 0rem 2rem;
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;
      background-color: $Light-Grey;
      width: 100%;
      padding: 1rem 2rem;
      margin-top: 0.5rem;
      &-cancel {
        background-color: $white;
        color: $Slate;
        border: 0.0625rem solid $Cloud;
        margin-right: 1rem;
        &:hover {
          border-color: $Instock-Indigo;
          color: $Instock-Indigo;
          background-color: $white;
        }
      }
    }
  }
}

.Toastify__toast--success {
  border: 0.0625rem solid $Instock-Indigo !important;
  background: $Instock-Indigo !important;
}
.toastBody {
  font-family: "Titillium Web";
  color: $white;
}
.toastProgress {
  background: $white !important;
}
