@use "../../main.scss";

.selected {
    background-color:  main.$c_Instock-Black;
    width: 160px;
}
.header{
    background-color: main.$c_Graphite;
    height: 200px;
    &__con1 {
        padding-top: 31px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;
    }
    &__img-con{
        background-image: url("../../assets/Logo/InStock-Logo_1x.png");
        background-repeat: no-repeat;
        // background-size: contain;
        background-size: 90% auto;
        width: 180px;
        height: 40px;
        // min-height: 40px;
        max-height: 40px;
        // margin-left: 25vw;
    }
    &__con2 {
        width: 100%;
        display: flex;
        flex-direction: center;
        align-items: center;
        margin-top: 25px;
        display: inline-flex;
        color: main.$c_white;
        list-style-type: none;
        @include main.m_padmar-0;
        padding-left: 16px;
    }
    &__link-content {
        // background-color:  main.$c_Graphite;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 160px;
        padding-bottom: 5px;
        border-radius: 20px;
        // text-align: center;
    }
    &__link{
        color: white;
        &:link{
            text-decoration: none;
        }

    }

}

@include main.bp_medium {
    .header {
        height: 160px;
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding-top: 0;
        padding-bottom: 60px;

        &__con1{
            display: flex;
            justify-content: flex-start; 
            @include main.m_padmar-0;
            padding-left: 32px;
            padding-bottom: 24px;
        }
        &__con2{
            display: flex;
            justify-content: flex-end;
            padding-bottom: 24px;
            
        }
    }

}

@include main.bp_large{
    .header{
        @include main.m_sizing_leftright(padding-left, padding-right, 130px);

    }
}




