@use "../../main.scss";

.selected {
    background-color:  main.$c_Instock-Black;
    width: 160px;
}
.header{
    background-color: main.$c_Graphite;
    height: 200px;
    &__con1 {
        padding-top: 31px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;
    }
    &__img-con{
        background-image: url("../../assets/Logo/InStock-Logo_1x.png");
        background-repeat: no-repeat;
        // background-size: contain;
        background-size: 90% auto;
        width: 180px;
        height: 40px;
        // min-height: 40px;
        max-height: 40px;
        // margin-left: 25vw;
    }
    &__con2 {
        display: flex;
        flex-direction: center;
        align-items: center;
        margin-top: 25px;
        display: inline-flex;
        color: main.$c_white;
        list-style-type: none;
        @include main.m_padmar-0;
        gap: 16px;
    }
    &__link {
        // background-color:  main.$c_Graphite;
        height: 36px;
        width: 160px;
        // text-align: center;
    }

}



