@use "../../main.scss";

.header{
    background-color: main.$c_Graphite;
    height: 200px;
    &__con1 {
        padding-top: 31px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;
    }

    &__img-con{
        background-image: url("../../assets/Logo/InStock-Logo_1x.png");
        background-repeat: no-repeat;
        background-size: 90% auto;
        width: 180px;
        height: 40px;
        max-height: 40px;
    }
    &__con2 {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 25px;
        display: inline-flex;
        color: main.$c_white;
        list-style-type: none;
        @include main.m_padmar-0;
        padding-left: 5px;
    }
    &__link-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 164px;
        padding-bottom: 5px;
        border-radius: 20px;
        &:hover{
            text-decoration: underline;
        }
    }
    &__link{
        color: main.$c_Cloud;
        @include main.m_fontsize_lineh_weight(14px, 36px, 600);
        &:hover{
            color: white;
        }
        &:link{
            text-decoration: none;
        }
    }
    .header__link.active{
        background-color:  main.$c_Instock-Black;
        border-radius: 20px;
        color: white;
        width: 164px;
        height: 38px;
    }
}


@include main.bp_medium {
    .header {
        height: 186px;
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding-top: 0;
        padding-bottom: 60px;

        &__img-con{
            background-image: url("../../assets/Logo/InStock-Logo_1x.png");
            background-repeat: no-repeat;
            background-size: 70% auto;
            width: 180px;
            height: 40px;
            max-height: 40px;
            cursor: pointer;
            
        }

        &__con1{
            display: flex;
            justify-content: flex-start; 
            @include main.m_padmar-0;
            padding-left: 32px;
            padding-bottom: 24px;
        }
        &__con2{
            display: flex;
            justify-content: flex-end;
            padding-left: 0;
            padding-bottom: 24px;
            padding-right: 32px;

        }
        &__link-content{
            width: 107px;

        }
        .header__link.active{
            background-color:  main.$c_Instock-Black;
            border-radius: 20px;
            color: white;
            width: 107px;
        }
    }


}

@include main.bp_large{
    .header{
        @include main.m_sizing_leftright(padding-left, padding-right, 130px);
        &__con1{
            padding-left: 0;
        }

    }
}




