@use "../../main.scss";

body {
  background-color: main.$c_Light-Grey;
}

.title-inventories {
  position: relative;
  @include main.m_sizing_leftright(margin-left, margin-right, 1rem);
  margin-top: -2.8125rem;
  background-color: main.$c_white;
  height: 7.8125rem;
  border-radius: 0.1875rem 0.1875rem 0 0;
  box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);

  &__text-con {
    width: 100%;
    height: 100%;
    border-bottom: 0.0625rem solid #bdc5d5;
    // padding-left: 2.5rem;
  }
  &__text {
    width: 9.375rem;
    height: 2.25rem;
    padding-left: 2rem;
    @include main.m_fontsize_lineh_weight(1.75rem, 2.25rem, 600);
    padding-top: 1.5rem;
  }
  .searchcombo__con {
    padding-top: 1rem;
    padding-right: 2.5rem;
    position: absolute;
    width: 100%;
  }
}

@include main.bp_medium {
  .title-inventories {
    margin-top: -5.625rem;
    height: 5.625rem !important;
    @include main.m_sizing_leftright(margin-left, margin-right, 2rem);
  }

  .searchcombo__con {
    position: absolute;
    top: -0.375rem;
    right: 1.5rem;
  }
}

@include main.bp_large {
  .title-inventories {
    height: 5.625rem !important;
    @include main.m_sizing_leftright(margin-left, margin-right, 8.125rem);
    &__text {
      padding-left: 2.5rem;
    }
  }

  .searchcombo__con {
    position: absolute;
    top: -0.375rem;
    right: 1.5rem;
  }
}
