@use "../../main.scss";

.listingsCard {
  @include main.m_pad_sizing_lr(24px);
  @include main.m_thin-border-bottom;
  padding-top: 16px;
  padding-bottom: 27px;

  &__text-cont {
    @include main.m_flex-row;
  }

  &__cont-left {
    @include main.m_flex-column;
    flex: 1;
    gap: 20px;
  }

  &__cont-right {
    @include main.m_flex-column;
    flex: 1;
    gap: 20px;
  }

  &__title {
    color: main.$c_Slate;
    @include main.m_fontsize_lineh_weight(11px, 16px, 600);
    margin: 0px;
    margin-bottom: 4px;
  }

  &__text {
    color: main.$c_Instock-Black;
    @include main.m_fontsize_lineh_weight(13px, 20px, 400);
    margin: 0px;

    &--blue {
      color: main.$c_Instock-Indigo;
    }

    &--inStock {
    }
  }

  &__chev {
    height: 20px;
    vertical-align: bottom;
  }

  &__icon-cont {
    @include main.m_flex-row;
    justify-content: space-between;
    margin-top: 19px;
  }
}
