@use "./main.scss";
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "TitilliumWeb", Verdana, Tahoma;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


